# Google Gemini AI Config
GOOGLE_API_KEY=tu_api_key_de_google_aqui

# Server Config
PORT=3006

# Supabase Auth Config (Para validación de JWT)
SUPABASE_URL=https://tu_proyecto.supabase.co
SUPABASE_SERVICE_ROLE=tu_service_role_key_aqui
